// Colors
$primary-color: #f3dbfcee;
$secondary-color: #fe60a7fe;
$terciary-color:  #3703f0ee;

$background-color: #f4f0e5;
$background-overlay: #09012fcc;

$primary-hover: #e1918e;
$secondary-hover: #a1d3b9;
$terciary-hover: #e4b28d;

$typography-color: #12121a;
$typography-link-hover: #d0cfee;

$white: #FEFEFE;
$black: #222;
$error-color: #f22038;

// Typography sizes
$font-size-xs: 0.75rem; // Define el tamaño de fuente extra pequeño aquí
$font-size-sm: 0.875rem; // Define el tamaño de fuente pequeño aquí
$font-size-md: 1rem; // Define el tamaño de fuente mediano aquí
$font-size-lg: 1.5rem; // Define el tamaño de fuente grande aquí
$font-size-xl: 1.5rem; // Define el tamaño de fuente extra grande aquí
$font-size-xxl: 2rem; // Define el tamaño de fuente extra extra grande aquí

$navbar-height: 4.5rem;
$footer-height: 2.5rem;
