.footer {
  background-color: #fe60a7fe;;
  margin-top: 13%;
  padding: 20px 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.social-links,
.contact-info,
.payment-methods {
  flex: 1;
  margin-bottom: 20px; 
  min-width: 200px;
}

.social-links h3,
.payment-methods h3 {
  margin-bottom: 10px; 
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li img {
  width: 27px; 
  height: 27px;
}

.payment-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.payment-icons img {
  width: 56px; 
  height: auto;
  margin-right: 10px;
}

.contact-info p {
  margin: 5px 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .social-links,
  .contact-info,
  .payment-methods {
    width: 100%;
    text-align: center;
  }

  .payment-icons {
    justify-content: center;
  }
}

/* Additional Media Query for Very Small Screens */
@media (max-width: 300px) {
  .footer {
    padding: 15px 5px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .social-links,
  .contact-info,
  .payment-methods {
    width: 100%;
    min-width: 0;
    text-align: center;
  }

  .social-icons li {
    margin-right: 5px;
  }

  .social-icons li img,
  .payment-icons img {
    width: 20px;
  }

  .contact-info p {
    font-size: 14px;
  }
}
